---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Reglas | Torneo Cumpleaños GR">
  <section class="min-h-screen bg-zinc-950 text-white px-6 md:px-16 py-20">
    <div class="max-w-5xl mx-auto">
      <h1 class="text-4xl md:text-5xl font-black mb-10 text-lime-400">
        Reglas del Torneo
      </h1>

    <div class="mb-16">
      <p class="text-zinc-300 text-base md:text-lg leading-relaxed">
        Este torneo se juega en formato
        <span class="text-white font-semibold">“Liga”</span>.
        Cada equipo se enfrentará a todos los equipos de su grupo un solo partido.
        Una vez finalizado el tiempo, el juego se detendrá y el resultado se decidirá según el marcador en ese momento.
        Si un equipo va por delante en juegos, será declarado ganador del partido.
        En caso de empate en juegos, ganará el equipo que tenga más puntos en el juego que se esté disputando en ese momento.
        Si también hubiera empate en puntos, el partido se considerará empate y ambos equipos recibirán un punto.
      </p>
    </div>

    <div class="mb-14">
      <h2 class="text-white text-xl font-bold mb-5">Duración de los partidos</h2>
      <p class="text-zinc-300 leading-relaxed">
        El torneo se divide en 7 partidos de
        <span class="text-white font-semibold">20 minutos</span>.
        Cuando el tiempo termina, se detiene el partido independientemente del
        marcador y se aplica la norma para ganar 0, 1 o 3 puntos.
      </p>
    </div>

    <div class="mb-14">
      <h2 class="text-white text-xl font-bold mb-5">Puntuación de los partidos</h2>
      <ul class="space-y-4 text-zinc-300">
        <li>• La pareja que vaya ganando al finalizar el tiempo <span class="text-white font-semibold">gana 3 puntos</span>.</li>
        <li>• La pareja que vaya perdiendo <span class="text-white font-semibold">no ganaran ningun punto</span>.</li>
        <li>• En caso de empate <span class="text-white font-semibold">ambos ganaran 1 punto</span>.</li>
      </ul>
    </div>

    <div class="mb-14">
      <h2 class="text-white text-xl font-bold mb-5">Tiempo entre partidos</h2>
      <div class="text-zinc-300">
        <p>
          Se dispondrá de 
          <span class="text-white font-semibold">20 minutos</span>
          de descanso entre partidos para secarse, hidratarse o tomar algo antes de comenzar el siguiente enfrentamiento. 
          Como cada grupo cuenta con solo dos pistas, mientras cuatro parejas estén jugando las otras parejas del grupo descansarán, y viceversa. 
          En algunos casos puntuales puede ocurrir que una pareja 
          <span class="text-white font-semibold">tenga que jugar dos partidos seguidos</span>
          y descansar después.
        </p>
      </div>
    </div>

    <div class="md:text-left mt-16">
      <h2 class="text-white text-xl font-bold ">🏆 Objetivo del torneo</h2>
      <p class="text-zinc-300 leading-relaxed pb-10">
        No gana quien más juegos anota, sino quien demuestra regularidad,
        constancia y capacidad para mantenerse superior contra cualquier otra pareja en las pistas.
      </p>

      <p class="text-white font-semibold">
        ¡A disfrutar y a luchar en la Pista! 🎾
      </p>
    </div>
  </section>
</BaseLayout>