---
const { title = "Torneo Cumpleaños GR" } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/src/public/list-ball-red.svg" />
  </head>
  <body class="bg-zinc-950 text-white">
    <Header />
    <slot />
    <Footer />
  </body>
  <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</html>